<div class="container wrapper">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-primary">Task Management System</h1>
    <button class="btn btn-sm" [ngClass]="{'btn-primary': !showAddTaskForm, 'btn-danger': showAddTaskForm}" (click)="toggleAddTaskForm()">
      {{ showAddTaskForm ? 'Close' : 'Add Task' }}
    </button>
  </div>

  <!-- Add the AddTodoComponent conditionally based on showAddTaskForm -->
  <div *ngIf="showAddTaskForm" class="mb-4">
    <app-add-todo></app-add-todo>
  </div>

  <h4 class="mb-3">Your Tasks</h4>
  <div class="d-flex mb-2">
    <button class="btn btn-sm btn-outline-primary mr-2" (click)="sortByStateFunc()">Sort by Status</button>
    <button class="btn btn-sm btn-outline-primary mr-2" (click)="sortByDueDateFunc()">Sort by Due Date</button>
    <button class="btn btn-sm btn-outline-primary" (click)="sortByPriorityFunc()">Sort by Priority</button>
    
    <!-- Add the Export to CSV button -->
    <button class="btn btn-sm btn-outline-primary ml-auto" (click)="exportToCsv()">Export to CSV</button>
  </div>

  <div class="accordion">
    <div *ngFor="let todo of todos$ | async">
      <app-todo-item [todo]="todo"></app-todo-item>
    </div>
  </div>
</div>
