<form class="container needs-validation custom-form" #signupForm="ngForm" (ngSubmit)="onSignUpClicked()" novalidate>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" [(ngModel)]="name" name="name" id="name" required>
    <div class="invalid-feedback">Name is required.</div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" [(ngModel)]="email" name="email" id="email" required email>
    <div class="invalid-feedback">Please enter a valid email (e.g., abc@gmail.com).</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" [(ngModel)]="password" name="password" id="password" required>
    <div class="invalid-feedback">Password is required.</div>
  </div>
  <button type="submit" class="btn btn-primary btn-sm btn-block">Sign Up</button>
</form>
